.dashboard-header {
	position: relative;
	border-radius: 0 0 30px 30px;
	min-height: 150px;

	.logo-container {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: 100;
	}

	.save-btn {
		background: none;
		position: absolute;
		border: none;
		right: 30px;
		padding: 0;
		outline: none;
		color: white;
		font-size: 1.32em;
	}
}
