.dashboard-user {
	background-color: white;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	margin: -20px 20px;
	padding: 30px 14px;
	position: relative;
	z-index: 200;
	margin-bottom: 20px;

	.profile-name {
		text-align: left;
	}
	.profile-about {
		text-align: justify;
	}
	.display-image {
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			max-width: 100%;
			height: 120px;
			width: 120px;
			border-radius: 50%;
			border: 3px solid #888;
		}
	}
	.qr-and-link-contianer {
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		align-items: center;
	}
	.qr-icon,
	.link-icon {
		margin: 10px 0;
		// margin: auto;
		// display: inline-block;
		max-width: 35px;
		font-size: 25px;
		cursor: pointer;
	}
	.qr-icon {
		// margin-bottom: 30px;
	}
}

.edit-profile-input-container {
	input,
	input:focus {
		background: #ddd;
	}
}

@media screen and (max-width: 576px) {
	.dashboard-user {
		padding: 20px 14px;

		.profile-name,
		.profile-about {
			text-align: center;
		}

		.qr-and-link-contianer {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: flex-start;
			padding-top: 15px;
			border-top: 2px solid #ccc;
		}
		.qr-icon,
		.link-icon {
			margin: 0 20px;
		}
	}
}
