.edit-profile-dashboard {
	.image-container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;

		.display-image {
			position: relative;
			max-width: 150px;
			max-height: 150px;
			margin-bottom: 15px;
			img {
				object-fit: cover;
				min-height: 130px;
				min-width: 130px;
				max-width: 130px;
				max-height: 130px;
				height: auto;
			}
			button {
				bottom: -10px;
				position: absolute;
			}
		}
	}
}
