.home-logo-container {
	img {
		border: 5px solid rgb(160, 160, 160);
		border-radius: 50%;
	}
}
.home-button {
	color: #ddd;
	width: 155px;
	border-radius: 5px;
	text-align: center;
	padding-top: 3px;
	border: 2px solid white;
	font-size: 1.2em;
}
div.jumbotron {
	// background-image: url('images/milky way.jpg');
	background-attachment: fixed;
}
.feature-text-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.feature-images {
	border-radius: 50px;
	border: 2px solid #333;
	padding: 13px;
	margin-bottom: 10px;
	overflow: hidden;
}
.footer {
	background-color: #222;
}
